In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('database/train.csv')
df.head( )

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_18156/299868044.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/train.csv')

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [33]:
df.dtypes

date_mutation                 object
numero_disposition             int64
valeur_fonciere              float64
adresse_numero               float64
adresse_nom_voie              object
adresse_code_voie             object
code_postal                  float64
code_commune                  object
nom_commune                   object
code_departement              object
nombre_lots                    int64
type_local                    object
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
longitude                    float64
latitude                     float64
dtype: object

In [34]:
df['date_mutation'] = pd.to_datetime(df['date_mutation'])  # Ensure the column is datetime

In [35]:
df_histo = df[['date_mutation', 'valeur_fonciere']]

In [36]:
df_histo.dtypes

date_mutation      datetime64[ns]
valeur_fonciere           float64
dtype: object

In [37]:
df_histo.isna().sum()

date_mutation      0
valeur_fonciere    0
dtype: int64

In [40]:
df_histo = df_histo.groupby(pd.Grouper(key='date_mutation', freq='Y')).mean()
df_histo.head()

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_18156/1093515552.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_histo = df_histo.groupby(pd.Grouper(key='date_mutation', freq='Y')).mean()

               valeur_fonciere
date_mutation
2019-12-31        1.380855e+06
2020-12-31        1.083366e+06
2021-12-31        2.936101e+06
2022-12-31        4.274059e+06
2023-12-31        6.951953e+05

In [41]:
df_histo.shape

(6, 1)

In [42]:
df_histo.to_csv('histogram.csv')

In [15]:
mapy = df.groupby('code_departement')['valeur_fonciere'].mean()
mapy.head()

code_departement
1    416724.981918
2    163481.045697
3    533863.079981
4    215008.073638
5    299168.738494
Name: valeur_fonciere, dtype: float64

In [16]:
mapy.shape

(100,)

In [18]:
mapy.to_csv('mapy.csv')

In [3]:
mapbox = df.iloc[0:10, :]
mapbox.to_csv('database/mapbox.csv', index=False)

In [4]:
test = df.iloc[0:1000, :]
test.shape

(1000, 17)

In [5]:
test['date_mutation'] = pd.to_datetime(test['date_mutation'])
test.dtypes

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_6060/2435192343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date_mutation'] = pd.to_datetime(test['date_mutation'])

date_mutation                datetime64[ns]
numero_disposition                    int64
valeur_fonciere                     float64
adresse_numero                      float64
adresse_nom_voie                     object
adresse_code_voie                    object
code_postal                         float64
code_commune                         object
nom_commune                          object
code_departement                     object
nombre_lots                           int64
type_local                           object
surface_reelle_bati                 float64
nombre_pieces_principales           float64
surface_terrain                     float64
longitude                           float64
latitude                            float64
dtype: object

In [6]:
t = test.groupby(pd.Grouper(key='date_mutation', freq='M'))['valeur_fonciere'].mean()
t

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_6060/1094142026.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  t = test.groupby(pd.Grouper(key='date_mutation', freq='M'))['valeur_fonciere'].mean()

date_mutation
2019-07-31    184833.940764
2019-08-31    173916.569675
2019-09-30    200423.625000
Freq: ME, Name: valeur_fonciere, dtype: float64

In [7]:
t.to_csv('database/test.csv')

In [ ]:
locations = pd.read_csv('database/train.csv')
locations.head( )

In [ ]:
locations = locations.iloc[0:100000, :]
locations= locations[['latitude', 'longitude', 'valeur_fonciere', 'code_departement']]

In [ ]:
locations

In [ ]:
locations.to_csv('database/locations.csv', index=False)

In [ ]:
df = pd.read_csv('database/train.csv')

In [ ]:
geo = df.groupby(['code_departement'])['valeur_fonciere'].mean()
geo.head()

In [ ]:
geo.shape

In [ ]:
geo.to_csv('database/geo.csv')

In [ ]:
import requests


geofrance = requests.get('https://france-geojson.gregoiredavid.fr/repo/departements.geojson').json()
geofrance

In [ ]:
import json
with open('database/geofrance.geojson', 'w') as f:
    json.dump(geofrance, f)

In [ ]:
import geopandas as gpd

gdf = gpd.GeoDataFrame(geofrance)
gdf.head()

In [ ]:
gdf.columns

In [ ]:
import geopandas as gpd
ge = gpd.read_file('database/geofrance.geojson')

In [ ]:
ge['code'].unique()

In [ ]:
ge

In [ ]:
import pandas as pd
geo = pd.read_csv('database/geo.csv')
geo.head()

In [ ]:
geo.rename(columns={'code_departement': 'code'}, inplace=True)

In [ ]:
departments = gpd.merge(ge, geo, on='code')
departments.head()

In [ ]:
departments

In [ ]:
departments.to_json('database/departments.geojson')

In [5]:
import geopandas as gpd


gdf = gpd.read_file('geofrance.json')

In [6]:
gdf

,code,nom,geometry
0,02,Aisne,"POLYGON ((3.1727 50.012, 3.1822 50.01234, 3.21..."
1,10,Aube,"POLYGON ((3.41479 48.39027, 3.42208 48.41334, ..."
2,14,Calvados,"POLYGON ((-1.11962 49.35557, -1.11503 49.3624,..."
3,15,Cantal,"POLYGON ((2.50841 45.4785, 2.52444 45.4807, 2...."
4,28,Eure-et-Loir,"POLYGON ((0.81482 48.67016, 0.82767 48.68072, ..."
...,...,...,...
91,41,Loir-et-Cher,"POLYGON ((0.84122 48.10306, 0.87588 48.10943, ..."
92,53,Mayenne,"POLYGON ((-0.86036 48.50146, -0.84611 48.49828..."
93,54,Meurthe-et-Moselle,"MULTIPOLYGON (((5.45556 49.48093, 5.44953 49.4..."
94,79,Deux-Sèvres,"POLYGON ((-0.89196 46.97582, -0.87973 46.9758,..."
95,90,Territoire de Belfort,"POLYGON ((6.82353 47.81305, 6.83931 47.82478, ..."

In [7]:
gdf['code'] = gdf['code'].astype(int)

ValueError: invalid literal for int() with base 10: '2A'

In [8]:
mb = pd.read_csv('database/mapbox.csv')
mb.dtypes

date_mutation                 object
numero_disposition             int64
valeur_fonciere              float64
adresse_numero               float64
adresse_nom_voie              object
adresse_code_voie             object
code_postal                  float64
code_commune                   int64
nom_commune                   object
code_departement               int64
nombre_lots                    int64
type_local                    object
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
longitude                    float64
latitude                     float64
dtype: object

In [9]:
mb['code_departement'] = mb['code_departement'].astype(str)

In [10]:
mb.dtypes

date_mutation                 object
numero_disposition             int64
valeur_fonciere              float64
adresse_numero               float64
adresse_nom_voie              object
adresse_code_voie             object
code_postal                  float64
code_commune                   int64
nom_commune                   object
code_departement              object
nombre_lots                    int64
type_local                    object
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
longitude                    float64
latitude                     float64
dtype: object

In [11]:
mb.to_csv('mapbox.csv', index=False)

In [12]:
import geopandas as gpd
import json

gdf = gpd.read_file("geofrance.json", encoding='utf-8')

file_CRS= gdf.crs
print(file_CRS)
#if the CRS is not epsg:4326, or its equivalent name WGS84
 #then change it as follows:

gdf.to_crs(epsg=4326)
#convert gdf  to geojson:
gdf.to_file('geojsfile.json', driver = 'GeoJSON')

EPSG:4326

In [20]:
france_dep = pd.read_csv("departments_regions_france_2016.csv")
hbar = pd.read_csv('hbar.csv')

In [21]:
france_dep.head()

,code_departement,departmentName,regionCode,regionName
0,1,Ain,84.0,Auvergne-Rhône-Alpes
1,2,Aisne,32.0,Hauts-de-France
2,3,Allier,84.0,Auvergne-Rhône-Alpes
3,4,Alpes-de-Haute-Provence,93.0,Provence-Alpes-Côte d'Azur
4,5,Hautes-Alpes,93.0,Provence-Alpes-Côte d'Azur

In [22]:
hbar.tail()

   code_departement  valeur_fonciere
95               36    149717.523559
96                8    145211.358193
97               70    143611.323649
98               15    136471.095913
99               58    131940.678914

In [23]:
h_bar = pd.merge(france_dep, hbar, on='code_departement')
h_bar.head()

,code_departement,departmentName,regionCode,regionName,valeur_fonciere
0,1,Ain,84.0,Auvergne-Rhône-Alpes,416724.981918
1,2,Aisne,32.0,Hauts-de-France,163481.045697
2,3,Allier,84.0,Auvergne-Rhône-Alpes,533863.079981
3,4,Alpes-de-Haute-Provence,93.0,Provence-Alpes-Côte d'Azur,215008.073638
4,5,Hautes-Alpes,93.0,Provence-Alpes-Côte d'Azur,299168.738494

In [24]:
h_bar.shape

(100, 5)

In [25]:
h_bar  = h_bar[['departmentName', 'valeur_fonciere']]
h_bar.head()

            departmentName  valeur_fonciere
0                      Ain    416724.981918
1                    Aisne    163481.045697
2                   Allier    533863.079981
3  Alpes-de-Haute-Provence    215008.073638
4             Hautes-Alpes    299168.738494

In [29]:
h_bar.sort_values(by='valeur_fonciere', ascending=True, inplace=True)
h_bar.head()

   departmentName  valeur_fonciere
60         Nièvre    131940.678914
14         Cantal    136471.095913
70    Haute-Saône    143611.323649
7        Ardennes    145211.358193
39          Indre    149717.523559

In [30]:
h_bar.to_csv('hbar.csv', index=False)

In [6]:
import pandas as pd
import geopandas as gpd

In [ ]:


df_communes = gpd.read_file('communes.geojson')
df_communes.head()

    code          nom                                           geometry
0  03252   Saint-Pont  POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...
1  05039   Aubessagne  POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...
2  16203      Mainzac  POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...
3  16372  Souffrignac  POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...
4  24002       Agonac  POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...

In [5]:
len(df_communes)

35228

In [7]:
df = pd.read_csv('database/train.csv')
df.head()

/tmp/ipykernel_71833/4203519063.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/train.csv')

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [23]:
df_t_comm = df[['code_commune', 'nom_commune', 'valeur_fonciere']]
df_t_comm.head()

  code_commune           nom_commune  valeur_fonciere
0         1053       Bourg-en-Bresse         244200.0
1         1184  Hautecourt-Romanèche         195000.0
2         1184  Hautecourt-Romanèche         195000.0
3         1177          Grand-Corent         110030.0
4         1108               Coligny         160450.0

In [24]:
df_t_comm.rename(columns={'code_commune': 'code'}, inplace=True)

/tmp/ipykernel_71833/4125805640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t_comm.rename(columns={'code_commune': 'code'}, inplace=True)

In [25]:
df_t_comm = df_t_comm.groupby(['code', 'nom_commune'])['valeur_fonciere'].mean().reset_index()
df_t_comm.head()

   code              nom_commune  valeur_fonciere
0  1001  L'Abergement-Clémenciat    322792.934579
1  1002    L'Abergement-de-Varey    223171.875000
2  1004        Ambérieu-en-Bugey    291885.928321
3  1005      Ambérieux-en-Dombes    535860.620728
4  1006                  Ambléon    165798.863636

In [26]:
df_t_comm.to_csv('df_t_comm.csv', index=False)

In [18]:
dff_commune = pd.merge(df_t_comm, df_communes, on='code')
dff_commune.head()

,code,nom_commune,valeur_fonciere,nom,geometry
0,29293,Trégunc,115000.0,Trégunc,"POLYGON ((-3.81081 47.79427, -3.81537 47.79439..."
1,29039,Concarneau,104975.0,Concarneau,"POLYGON ((-3.94601 47.90451, -3.94769 47.90627..."
2,29233,Quimperlé,73000.0,Quimperlé,"POLYGON ((-3.59219 47.86468, -3.58991 47.866, ..."
3,29233,Quimperlé,73000.0,Quimperlé,"POLYGON ((-3.59219 47.86468, -3.58991 47.866, ..."
4,29020,Briec,155000.0,Briec,"POLYGON ((-4.05817 48.03438, -4.05771 48.03663..."

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('database/train.csv')

/tmp/ipykernel_5521/2117638710.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/train.csv')

In [3]:
df.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [150]:
df_maison = df[df['type_local'] == 'Maison']
df_maison.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [151]:
avg_rooms = df_maison['nombre_pieces_principales'].mean()
avg_rooms

np.float64(4.216266929899691)

In [152]:
avg_surf = df_maison['surface_reelle_bati'].mean()
avg_surf

np.float64(103.53939737032513)

In [153]:
avg_price = df_maison['valeur_fonciere'].mean()
avg_price

np.float64(536591.5233415945)

In [134]:
df_maison = df_maison[['code_departement', 'valeur_fonciere']]
df_maison.head()

  code_departement  valeur_fonciere
0                1         244200.0
1                1         195000.0
2                1         195000.0
3                1         110030.0
4                1         160450.0

In [135]:
df_maison['date_mutation'] = pd.to_datetime(df_maison['date_mutation'])  # Ensure the column is datetime
df_maison.dtypes

KeyError: 'date_mutation'

In [136]:
df_maison = df_maison.groupby(['code_departement'])['valeur_fonciere'].mean()
df_maison.head()

code_departement
1    332674.679599
2    134584.826963
3    358116.469596
4    260035.432913
5    276014.646681
Name: valeur_fonciere, dtype: float64

In [137]:
df_maison =pd.DataFrame(df_maison)

In [138]:
df_maison.head()

                  valeur_fonciere
code_departement
1                   332674.679599
2                   134584.826963
3                   358116.469596
4                   260035.432913
5                   276014.646681

In [139]:
df_maison.reset_index(inplace=True)

In [140]:
df_maison.head()

  code_departement  valeur_fonciere
0                1    332674.679599
1                2    134584.826963
2                3    358116.469596
3                4    260035.432913
4                5    276014.646681

In [141]:
len(df_maison)

100

In [142]:
df_maison['code_departement'] = df_maison['code_departement'].astype(str)

In [104]:
df_maison.to_csv('maison_bar.csv')

In [79]:
df_maison.dtypes

code_departement     object
valeur_fonciere     float64
dtype: object

In [17]:
df_depart = pd.read_csv('departments_regions_france_2016.csv')
df_depart.dtypes

code_departement     object
departmentName       object
regionCode          float64
regionName           object
dtype: object

In [18]:
df_depart = df_depart[['code_departement', 'departmentName']]
df_depart.head()

  code_departement           departmentName
0                1                      Ain
1                2                    Aisne
2                3                   Allier
3                4  Alpes-de-Haute-Provence
4                5             Hautes-Alpes

In [19]:
df_depart['code_departement'] = df_depart['code_departement'].astype(str)

In [129]:
df_depart.set_index('code_departement', inplace=True)

In [20]:
df_depart.head()

  code_departement           departmentName
0                1                      Ain
1                2                    Aisne
2                3                   Allier
3                4  Alpes-de-Haute-Provence
4                5             Hautes-Alpes

In [147]:
dff = df_maison.merge(df_depart, left_on='code_departement', right_on='code_departement')
dff.head(100)

   code_departement  valeur_fonciere           departmentName
0                 1    332674.679599                      Ain
1                 2    134584.826963                    Aisne
2                 3    358116.469596                   Allier
3                 4    260035.432913  Alpes-de-Haute-Provence
4                 5    276014.646681             Hautes-Alpes
..              ...              ...                      ...
95               29    209139.475539                Finistère
96               2A    779183.635618             Corse-du-Sud
97               2B    346419.997470              Haute-Corse
98               30    282145.678774                     Gard
99               31    371835.704582            Haute-Garonne

[100 rows x 3 columns]

In [148]:
len(dff)

100

In [46]:
df_maison = df_maison[['departmentName', 'valeur_fonciere']]
df_maison.head()

  departmentName  valeur_fonciere
0      Finistère    209139.475539
1   Corse-du-Sud    779183.635618
2    Haute-Corse    346419.997470
3           Gard    282145.678774
4  Haute-Garonne    371835.704582

In [149]:
dff.to_csv('maison_bar.csv', index=False)

Appartement

In [24]:
df_appartement = df[df['type_local'] == 'Appartement']
df_appartement.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
9,2019-07-02,1,216600.0,1.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Appartement,25.0,1.0,1206.000000,5.242416,46.190963
10,2019-07-02,1,216600.0,1.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Appartement,73.0,4.0,1206.000000,5.242416,46.190963
21,2019-07-03,1,55820.0,1.0,RUE LAZARE CARNOT,2240,1000.0,1053,Bourg-en-Bresse,1,2,Appartement,33.0,2.0,354.301187,5.228929,46.200368
22,2019-07-08,1,158500.0,19.0,RUE DES BONS ENFANTS,0530,1000.0,1053,Bourg-en-Bresse,1,1,Appartement,93.0,3.0,611.756812,5.228084,46.205058
30,2019-07-08,1,68615.0,16.0,ALL DE LA PETITE REYSSOUZE,3044,1000.0,1053,Bourg-en-Bresse,1,2,Appartement,40.0,1.0,377.968565,5.237075,46.201438

In [25]:
avg_price = df_appartement['valeur_fonciere'].mean()
avg_price

np.float64(3740522.106210517)

In [26]:
avg_surf = df_appartement['surface_reelle_bati'].mean()
avg_surf

np.float64(56.59992671023474)

In [27]:
avg_rooms = df_appartement['nombre_pieces_principales'].mean()
avg_rooms

np.float64(2.577313550982566)

In [5]:
df_appartement

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
9,2019-07-02,1,216600.0,1.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Appartement,25.0,1.0,1206.000000,5.242416,46.190963
10,2019-07-02,1,216600.0,1.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Appartement,73.0,4.0,1206.000000,5.242416,46.190963
21,2019-07-03,1,55820.0,1.0,RUE LAZARE CARNOT,2240,1000.0,1053,Bourg-en-Bresse,1,2,Appartement,33.0,2.0,354.301187,5.228929,46.200368
22,2019-07-08,1,158500.0,19.0,RUE DES BONS ENFANTS,0530,1000.0,1053,Bourg-en-Bresse,1,1,Appartement,93.0,3.0,611.756812,5.228084,46.205058
30,2019-07-08,1,68615.0,16.0,ALL DE LA PETITE REYSSOUZE,3044,1000.0,1053,Bourg-en-Bresse,1,2,Appartement,40.0,1.0,377.968565,5.237075,46.201438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11511658,2024-05-23,1,335000.0,19.0,RUE DE BOULAINVILLIERS,1154.0,75016.0,75116,Paris 16e Arrondissement,75,1,Appartement,40.0,2.0,287.381494,2.275384,48.853419
11511660,2024-06-04,1,384800.0,6.0,RUE GUENOT,4370.0,75011.0,75111,Paris 11e Arrondissement,75,3,Appartement,28.0,2.0,1141.573459,2.392573,48.851032
11511663,2024-06-25,1,230000.0,109.0,RUE D ALESIA,143.0,75014.0,75114,Paris 14e Arrondissement,75,2,Appartement,33.0,2.0,131.384698,2.324494,48.828365
11511666,2024-04-09,1,833000.0,60.0,RUE BRANCION,1255.0,75015.0,75115,Paris 15e Arrondissement,75,2,Appartement,100.0,4.0,719.026568,2.302765,48.832709
11511667,2024-04-04,1,400000.0,5.0,RUE DE LA MAIN D OR,5920.0,75011.0,75111,Paris 11e Arrondissement,75,2,Appartement,60.0,2.0,1403.050888,2.378272,48.851470

In [6]:
df_appartement = df_appartement[['date_mutation', 'valeur_fonciere']]

In [7]:
df_appartement['date_mutation'] = pd.to_datetime(df_appartement['date_mutation'])  # Ensure the column is datetime

/tmp/ipykernel_5521/813735516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_appartement['date_mutation'] = pd.to_datetime(df_appartement['date_mutation'])  # Ensure the column is datetime

In [8]:
df_appartement = df_appartement.groupby( pd.Grouper(key='date_mutation', freq='ME'))['valeur_fonciere'].mean()
df_appartement.head()

date_mutation
2019-07-31    3.440365e+06
2019-08-31    3.467828e+05
2019-09-30    7.289782e+05
2019-10-31    1.830552e+06
2019-11-30    1.395435e+06
Freq: ME, Name: valeur_fonciere, dtype: float64

In [10]:
df_appartement= pd.DataFrame(df_appartement)
df_appartement.head()

               valeur_fonciere
date_mutation
2019-07-31        3.440365e+06
2019-08-31        3.467828e+05
2019-09-30        7.289782e+05
2019-10-31        1.830552e+06
2019-11-30        1.395435e+06

In [11]:
df_appartement.reset_index(inplace=True)
df_appartement.head()

  date_mutation  valeur_fonciere
0    2019-07-31     3.440365e+06
1    2019-08-31     3.467828e+05
2    2019-09-30     7.289782e+05
3    2019-10-31     1.830552e+06
4    2019-11-30     1.395435e+06

In [12]:
df_appartement.to_csv('appartement_line.csv', index=False)

In [14]:
df_appartement = df_appartement[['code_departement', 'valeur_fonciere']]
df_appartement.head()

   code_departement  valeur_fonciere
9                 1         216600.0
10                1         216600.0
21                1          55820.0
22                1         158500.0
30                1          68615.0

In [15]:
df_appartement = df_appartement.groupby('code_departement')['valeur_fonciere'].mean()
df_appartement.head()

code_departement
1    4.827235e+05
2    2.344741e+05
3    1.087333e+06
4    1.603515e+05
5    3.099134e+05
Name: valeur_fonciere, dtype: float64

In [16]:
df_appartement = pd.DataFrame(df_appartement)
df_appartement.reset_index(inplace=True)
df_appartement.head()

  code_departement  valeur_fonciere
0                1     4.827235e+05
1                2     2.344741e+05
2                3     1.087333e+06
3                4     1.603515e+05
4                5     3.099134e+05

In [21]:
df_appartement['code_departement'] = df_appartement['code_departement'].astype(str)

In [22]:
appart = df_appartement.merge(df_depart, left_on='code_departement', right_on='code_departement')
appart.head(100)

   code_departement  valeur_fonciere           departmentName
0                 1     4.827235e+05                      Ain
1                 2     2.344741e+05                    Aisne
2                 3     1.087333e+06                   Allier
3                 4     1.603515e+05  Alpes-de-Haute-Provence
4                 5     3.099134e+05             Hautes-Alpes
..              ...              ...                      ...
95               29     1.894006e+05                Finistère
96               2A     4.603216e+05             Corse-du-Sud
97               2B     4.928204e+05              Haute-Corse
98               30     2.910972e+05                     Gard
99               31     1.462575e+06            Haute-Garonne

[100 rows x 3 columns]

In [23]:
appart.to_csv('appartement_bar.csv', index=False)

commercial

In [55]:
df_commercial = df[df['type_local'] == 'Local industriel. commercial ou assimilé']
df_commercial.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
27,2019-07-04,1,186500.0,363.0,RUE DU MOTTIER,0565,1750.0,1320,Replonges,1,0,Local industriel. commercial ou assimilé,18.000000,0.0,465.0,4.888906,46.306763
49,2019-07-04,1,300000.0,26.0,RUE CHARLES ROBIN,0820,1000.0,1053,Bourg-en-Bresse,1,0,Local industriel. commercial ou assimilé,125.000000,0.0,173.0,5.231395,46.205649
54,2019-07-03,1,135000.0,5981.0,COMBE DE VEYLE NORD,B065,1750.0,1320,Replonges,1,0,Local industriel. commercial ou assimilé,250.000000,0.0,1435.0,4.871879,46.295521
75,2019-07-12,1,329750.0,6166.0,LA GRANGE MAMAN,B015,1000.0,1344,Saint-Denis-lès-Bourg,1,0,Local industriel. commercial ou assimilé,847.293009,0.0,879.0,5.195039,46.196499
78,2019-07-03,1,3000000.0,24.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Local industriel. commercial ou assimilé,2465.000000,0.0,5926.0,5.244642,46.187884

In [56]:
avg_price = df_commercial['valeur_fonciere'].mean()
avg_price

np.float64(2273000.782902374)

In [57]:
avg_rooms = df_commercial['nombre_pieces_principales'].mean()
avg_rooms

np.float64(0.0)

In [58]:
avg_surf = df_commercial['surface_reelle_bati'].mean()
avg_surf

np.float64(464.462806678404)

In [39]:
len(df_commercial)

630980

In [40]:
df_commercial = df_commercial[['date_mutation', 'valeur_fonciere']]
df_commercial.head()

   date_mutation  valeur_fonciere
27    2019-07-04         186500.0
49    2019-07-04         300000.0
54    2019-07-03         135000.0
75    2019-07-12         329750.0
78    2019-07-03        3000000.0

In [41]:
df_commercial['date_mutation'] = pd.to_datetime(df_commercial['date_mutation'])  # Ensure the column is datetime

In [42]:
df_commercial = df_commercial.groupby(pd.Grouper(key='date_mutation', freq='ME'))['valeur_fonciere'].mean()
df_commercial.head()

date_mutation
2019-07-31    2.888714e+06
2019-08-31    7.668041e+05
2019-09-30    1.638784e+06
2019-10-31    3.506195e+06
2019-11-30    2.585186e+06
Freq: ME, Name: valeur_fonciere, dtype: float64

In [43]:
df_commercial = pd.DataFrame(df_commercial)

In [44]:
df_commercial.head()

               valeur_fonciere
date_mutation
2019-07-31        2.888714e+06
2019-08-31        7.668041e+05
2019-09-30        1.638784e+06
2019-10-31        3.506195e+06
2019-11-30        2.585186e+06

In [45]:
df_commercial.reset_index(inplace=True)
df_commercial.head()

  date_mutation  valeur_fonciere
0    2019-07-31     2.888714e+06
1    2019-08-31     7.668041e+05
2    2019-09-30     1.638784e+06
3    2019-10-31     3.506195e+06
4    2019-11-30     2.585186e+06

In [46]:
df_commercial.to_csv('commercial_line.csv', index=False)

In [48]:
df_commercial = df_commercial[['code_departement', 'valeur_fonciere']]
df_commercial.head()

   code_departement  valeur_fonciere
27                1         186500.0
49                1         300000.0
54                1         135000.0
75                1         329750.0
78                1        3000000.0

In [49]:
df_commercial = df_commercial.groupby('code_departement')['valeur_fonciere'].mean()
df_commercial.head()

code_departement
1    7.973086e+05
2    4.002413e+05
3    1.011306e+06
4    3.984634e+05
5    2.672126e+05
Name: valeur_fonciere, dtype: float64

In [50]:
df_commercial = pd.DataFrame(df_commercial)
df_commercial.reset_index(inplace=True)
df_commercial.head()

  code_departement  valeur_fonciere
0                1     7.973086e+05
1                2     4.002413e+05
2                3     1.011306e+06
3                4     3.984634e+05
4                5     2.672126e+05

In [51]:
df_depart

    code_departement           departmentName
0                  1                      Ain
1                  2                    Aisne
2                  3                   Allier
3                  4  Alpes-de-Haute-Provence
4                  5             Hautes-Alpes
..               ...                      ...
98               973                   Guyane
99               974               La Réunion
100              976                  Mayotte
101              987      Polynésie Française
102              988       Nouvelle Calédonie

[103 rows x 2 columns]

In [52]:
df_commercial['code_departement'] = df_commercial['code_departement'].astype(str)

In [53]:
df_commercial = df_commercial.merge(df_depart, left_on='code_departement', right_on='code_departement')
df_commercial.head()

  code_departement  valeur_fonciere           departmentName
0                1     7.973086e+05                      Ain
1                2     4.002413e+05                    Aisne
2                3     1.011306e+06                   Allier
3                4     3.984634e+05  Alpes-de-Haute-Provence
4                5     2.672126e+05             Hautes-Alpes

In [54]:
df_commercial.to_csv('commercial_bar.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('database/train.csv')
df.head( )

/tmp/ipykernel_214280/299868044.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/train.csv')

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [3]:
df['date_mutation'] = pd.to_datetime(df['date_mutation'])  # Ensure the column is datetime

In [7]:
dff = df.groupby(pd.Grouper(key='date_mutation', freq='ME')).count()
dff.head()

,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
date_mutation,,,,,,,,,,,,,,,,
2019-07-31,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209,217209
2019-08-31,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995,129995
2019-09-30,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029,168029
2019-10-31,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872,181872
2019-11-30,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958,144958

In [8]:
dff.reset_index(inplace=True)
dff = dff[['date_mutation', 'valeur_fonciere']]
dff.rename(columns={'valeur_fonciere': 'count'}, inplace=True)
dff.head()

  date_mutation   count
0    2019-07-31  217209
1    2019-08-31  129995
2    2019-09-30  168029
3    2019-10-31  181872
4    2019-11-30  144958

In [10]:
linechart = pd.read_csv('datasets/linechart.csv')
linechart.head()

  date_mutation  valeur_fonciere
0    2019-07-31     1.742554e+06
1    2019-08-31     3.033671e+05
2    2019-09-30     6.147534e+05
3    2019-10-31     1.221224e+06
4    2019-11-30     9.359277e+05

In [12]:
dfff = pd.concat([linechart, dff], axis=1)
dfff.head()

  date_mutation  valeur_fonciere date_mutation   count
0    2019-07-31     1.742554e+06    2019-07-31  217209
1    2019-08-31     3.033671e+05    2019-08-31  129995
2    2019-09-30     6.147534e+05    2019-09-30  168029
3    2019-10-31     1.221224e+06    2019-10-31  181872
4    2019-11-30     9.359277e+05    2019-11-30  144958

In [18]:
len(dfff)

60

In [15]:
dfff = dfff[['date_mutation', 'count', 'valeur_fonciere']]
dfff.head()

  date_mutation date_mutation   count  valeur_fonciere
0    2019-07-31    2019-07-31  217209     1.742554e+06
1    2019-08-31    2019-08-31  129995     3.033671e+05
2    2019-09-30    2019-09-30  168029     6.147534e+05
3    2019-10-31    2019-10-31  181872     1.221224e+06
4    2019-11-30    2019-11-30  144958     9.359277e+05

In [17]:
dfff= dfff.iloc[: , 1:]
dfff.head()

  date_mutation   count  valeur_fonciere
0    2019-07-31  217209     1.742554e+06
1    2019-08-31  129995     3.033671e+05
2    2019-09-30  168029     6.147534e+05
3    2019-10-31  181872     1.221224e+06
4    2019-11-30  144958     9.359277e+05

In [19]:
dfff.to_csv('datasets/linechart.csv', index=False)

In [36]:
dff_maison = df[df['type_local'] == 'Maison']
dff_maison.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [37]:
dff_maison = dff_maison.groupby(pd.Grouper(key='date_mutation', freq='ME')).count()
dff_maison.head()

,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
date_mutation,,,,,,,,,,,,,,,,
2019-07-31,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243,79243
2019-08-31,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896,55896
2019-09-30,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607,61607
2019-10-31,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183,65183
2019-11-30,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983,50983

In [38]:
dff_maison.reset_index(inplace=True)
dff_maison = dff_maison[['date_mutation', 'valeur_fonciere']]
dff_maison.rename(columns={'valeur_fonciere': 'count'}, inplace=True)
dff_maison.head()

  date_mutation  count
0    2019-07-31  79243
1    2019-08-31  55896
2    2019-09-30  61607
3    2019-10-31  65183
4    2019-11-30  50983

In [40]:
df_maison = pd.read_csv('datasets/maison_line.csv')
df_maison.head()

  date_mutation  valeur_fonciere
0    2019-07-31    347861.980765
1    2019-08-31    246931.179877
2    2019-09-30    356640.432917
3    2019-10-31    355817.769429
4    2019-11-30    275407.475437

In [41]:
dfff_maison = pd.concat([dff_maison, df_maison], axis=1)
dfff_maison.head()

  date_mutation  count date_mutation  valeur_fonciere
0    2019-07-31  79243    2019-07-31    347861.980765
1    2019-08-31  55896    2019-08-31    246931.179877
2    2019-09-30  61607    2019-09-30    356640.432917
3    2019-10-31  65183    2019-10-31    355817.769429
4    2019-11-30  50983    2019-11-30    275407.475437

In [42]:
dfff_maison = dfff_maison.iloc[: , 1:]
dfff_maison.head()

   count date_mutation  valeur_fonciere
0  79243    2019-07-31    347861.980765
1  55896    2019-08-31    246931.179877
2  61607    2019-09-30    356640.432917
3  65183    2019-10-31    355817.769429
4  50983    2019-11-30    275407.475437

In [44]:
dfff_maison.head()

   count date_mutation  valeur_fonciere
0  79243    2019-07-31    347861.980765
1  55896    2019-08-31    246931.179877
2  61607    2019-09-30    356640.432917
3  65183    2019-10-31    355817.769429
4  50983    2019-11-30    275407.475437

In [45]:
dfff_maison.to_csv('datasets/maison_line.csv', index=False)

In [49]:
df_appartement = df[df['type_local'] == 'Appartement']
df_appartement.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
9,2019-07-02,1,216600.0,1.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Appartement,25.0,1.0,1206.000000,5.242416,46.190963
10,2019-07-02,1,216600.0,1.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Appartement,73.0,4.0,1206.000000,5.242416,46.190963
21,2019-07-03,1,55820.0,1.0,RUE LAZARE CARNOT,2240,1000.0,1053,Bourg-en-Bresse,1,2,Appartement,33.0,2.0,354.301187,5.228929,46.200368
22,2019-07-08,1,158500.0,19.0,RUE DES BONS ENFANTS,0530,1000.0,1053,Bourg-en-Bresse,1,1,Appartement,93.0,3.0,611.756812,5.228084,46.205058
30,2019-07-08,1,68615.0,16.0,ALL DE LA PETITE REYSSOUZE,3044,1000.0,1053,Bourg-en-Bresse,1,2,Appartement,40.0,1.0,377.968565,5.237075,46.201438

In [50]:
df_appartement = df_appartement.groupby( pd.Grouper(key='date_mutation', freq='ME')).count()
df_appartement.head()

,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
date_mutation,,,,,,,,,,,,,,,,
2019-07-31,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436,72436
2019-08-31,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453,38453
2019-09-30,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891,53891
2019-10-31,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990,58990
2019-11-30,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063,47063

In [51]:
df_appartement.reset_index(inplace=True)
df_appartement = df_appartement[['date_mutation', 'valeur_fonciere']]
df_appartement.rename(columns={'valeur_fonciere': 'count'}, inplace=True)
df_appartement.head()

  date_mutation  count
0    2019-07-31  72436
1    2019-08-31  38453
2    2019-09-30  53891
3    2019-10-31  58990
4    2019-11-30  47063

In [53]:
dff_apartement = pd.read_csv('datasets/appartement_line.csv')
dff_apartement.head()

  date_mutation  valeur_fonciere
0    2019-07-31     3.440365e+06
1    2019-08-31     3.467828e+05
2    2019-09-30     7.289782e+05
3    2019-10-31     1.830552e+06
4    2019-11-30     1.395435e+06

In [54]:
dfff_apartement = pd.concat([df_appartement, dff_apartement], axis=1)
dfff_apartement.head()

  date_mutation  count date_mutation  valeur_fonciere
0    2019-07-31  72436    2019-07-31     3.440365e+06
1    2019-08-31  38453    2019-08-31     3.467828e+05
2    2019-09-30  53891    2019-09-30     7.289782e+05
3    2019-10-31  58990    2019-10-31     1.830552e+06
4    2019-11-30  47063    2019-11-30     1.395435e+06

In [55]:
len(dfff_apartement)

60

In [57]:
dfff_apartement = dfff_apartement.iloc[: , 1:]

In [58]:
dfff_apartement.to_csv('datasets/appartement_line.csv', index=False)

In [59]:
dff_commercial = df[df['type_local'] == 'Local industriel. commercial ou assimilé']
dff_commercial.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
27,2019-07-04,1,186500.0,363.0,RUE DU MOTTIER,0565,1750.0,1320,Replonges,1,0,Local industriel. commercial ou assimilé,18.000000,0.0,465.0,4.888906,46.306763
49,2019-07-04,1,300000.0,26.0,RUE CHARLES ROBIN,0820,1000.0,1053,Bourg-en-Bresse,1,0,Local industriel. commercial ou assimilé,125.000000,0.0,173.0,5.231395,46.205649
54,2019-07-03,1,135000.0,5981.0,COMBE DE VEYLE NORD,B065,1750.0,1320,Replonges,1,0,Local industriel. commercial ou assimilé,250.000000,0.0,1435.0,4.871879,46.295521
75,2019-07-12,1,329750.0,6166.0,LA GRANGE MAMAN,B015,1000.0,1344,Saint-Denis-lès-Bourg,1,0,Local industriel. commercial ou assimilé,847.293009,0.0,879.0,5.195039,46.196499
78,2019-07-03,1,3000000.0,24.0,AV MARECHAL JUIN,3160,1000.0,1053,Bourg-en-Bresse,1,0,Local industriel. commercial ou assimilé,2465.000000,0.0,5926.0,5.244642,46.187884

In [60]:
dfff_commercial = dff_commercial.groupby( pd.Grouper(key='date_mutation', freq='ME')).count()
dfff_commercial.head()

,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
date_mutation,,,,,,,,,,,,,,,,
2019-07-31,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052,14052
2019-08-31,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482,6482
2019-09-30,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061,11061
2019-10-31,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573,12573
2019-11-30,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205,10205

In [61]:
dfff_commercial.reset_index(inplace=True)
dfff_commercial = dfff_commercial[['date_mutation', 'valeur_fonciere']]
dfff_commercial.rename(columns={'valeur_fonciere': 'count'}, inplace=True)
dfff_commercial.head()

  date_mutation  count
0    2019-07-31  14052
1    2019-08-31   6482
2    2019-09-30  11061
3    2019-10-31  12573
4    2019-11-30  10205

In [62]:
df_commerce = pd.read_csv('datasets/commercial_line.csv')
df_commerce.head()

  date_mutation  valeur_fonciere
0    2019-07-31     2.888714e+06
1    2019-08-31     7.668041e+05
2    2019-09-30     1.638784e+06
3    2019-10-31     3.506195e+06
4    2019-11-30     2.585186e+06

In [63]:
dfff_commerce = pd.concat([dfff_commercial, df_commerce], axis=1)
dfff_commerce.head()

  date_mutation  count date_mutation  valeur_fonciere
0    2019-07-31  14052    2019-07-31     2.888714e+06
1    2019-08-31   6482    2019-08-31     7.668041e+05
2    2019-09-30  11061    2019-09-30     1.638784e+06
3    2019-10-31  12573    2019-10-31     3.506195e+06
4    2019-11-30  10205    2019-11-30     2.585186e+06

In [64]:
dff_comerce = dfff_commerce.iloc[: , 1:]
dff_comerce.head()

   count date_mutation  valeur_fonciere
0  14052    2019-07-31     2.888714e+06
1   6482    2019-08-31     7.668041e+05
2  11061    2019-09-30     1.638784e+06
3  12573    2019-10-31     3.506195e+06
4  10205    2019-11-30     2.585186e+06

In [65]:
dff_comerce.to_csv('datasets/commercial_line.csv', index=False)

In [1]:
import pandas as pd

In [2]:
mapy = pd.read_csv('datasets/mapy.csv')
mapy.head()

  code_departement  valeur_fonciere
0                1    416724.981918
1                2    163481.045697
2                3    533863.079981
3                4    215008.073638
4                5    299168.738494

In [3]:
departs = pd.read_csv('datasets/departments_regions_france_2016.csv')
departs.head()

,code_departement,departmentName,regionCode,regionName
0,1,Ain,84.0,Auvergne-Rhône-Alpes
1,2,Aisne,32.0,Hauts-de-France
2,3,Allier,84.0,Auvergne-Rhône-Alpes
3,4,Alpes-de-Haute-Provence,93.0,Provence-Alpes-Côte d'Azur
4,5,Hautes-Alpes,93.0,Provence-Alpes-Côte d'Azur

In [4]:
mapy = pd.merge(departs, mapy, on='code_departement')
mapy.head()

,code_departement,departmentName,regionCode,regionName,valeur_fonciere
0,1,Ain,84.0,Auvergne-Rhône-Alpes,416724.981918
1,2,Aisne,32.0,Hauts-de-France,163481.045697
2,3,Allier,84.0,Auvergne-Rhône-Alpes,533863.079981
3,4,Alpes-de-Haute-Provence,93.0,Provence-Alpes-Côte d'Azur,215008.073638
4,5,Hautes-Alpes,93.0,Provence-Alpes-Côte d'Azur,299168.738494

In [6]:
len(mapy)

100

In [7]:
mapy.isna().sum()

code_departement    0
departmentName      0
regionCode          0
regionName          0
valeur_fonciere     0
dtype: int64

In [8]:
mapy = mapy[['code_departement','departmentName', 'valeur_fonciere']]
mapy.head()

  code_departement           departmentName  valeur_fonciere
0                1                      Ain    416724.981918
1                2                    Aisne    163481.045697
2                3                   Allier    533863.079981
3                4  Alpes-de-Haute-Provence    215008.073638
4                5             Hautes-Alpes    299168.738494

In [9]:
mapy.to_csv('datasets/mapy.csv', index=False)