In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('database/train.csv')
df.head( )

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_18156/299868044.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/train.csv')

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [33]:
df.dtypes

date_mutation                 object
numero_disposition             int64
valeur_fonciere              float64
adresse_numero               float64
adresse_nom_voie              object
adresse_code_voie             object
code_postal                  float64
code_commune                  object
nom_commune                   object
code_departement              object
nombre_lots                    int64
type_local                    object
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
longitude                    float64
latitude                     float64
dtype: object

In [34]:
df['date_mutation'] = pd.to_datetime(df['date_mutation'])  # Ensure the column is datetime

In [35]:
df_histo = df[['date_mutation', 'valeur_fonciere']]

In [36]:
df_histo.dtypes

date_mutation      datetime64[ns]
valeur_fonciere           float64
dtype: object

In [37]:
df_histo.isna().sum()

date_mutation      0
valeur_fonciere    0
dtype: int64

In [40]:
df_histo = df_histo.groupby(pd.Grouper(key='date_mutation', freq='Y')).mean()
df_histo.head()

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_18156/1093515552.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  df_histo = df_histo.groupby(pd.Grouper(key='date_mutation', freq='Y')).mean()

               valeur_fonciere
date_mutation
2019-12-31        1.380855e+06
2020-12-31        1.083366e+06
2021-12-31        2.936101e+06
2022-12-31        4.274059e+06
2023-12-31        6.951953e+05

In [41]:
df_histo.shape

(6, 1)

In [42]:
df_histo.to_csv('histogram.csv')

In [15]:
mapy = df.groupby('code_departement')['valeur_fonciere'].mean()
mapy.head()

code_departement
1    416724.981918
2    163481.045697
3    533863.079981
4    215008.073638
5    299168.738494
Name: valeur_fonciere, dtype: float64

In [16]:
mapy.shape

(100,)

In [18]:
mapy.to_csv('mapy.csv')

In [3]:
mapbox = df.iloc[0:10, :]
mapbox.to_csv('database/mapbox.csv', index=False)

In [4]:
test = df.iloc[0:1000, :]
test.shape

(1000, 17)

In [5]:
test['date_mutation'] = pd.to_datetime(test['date_mutation'])
test.dtypes

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_6060/2435192343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['date_mutation'] = pd.to_datetime(test['date_mutation'])

date_mutation                datetime64[ns]
numero_disposition                    int64
valeur_fonciere                     float64
adresse_numero                      float64
adresse_nom_voie                     object
adresse_code_voie                    object
code_postal                         float64
code_commune                         object
nom_commune                          object
code_departement                     object
nombre_lots                           int64
type_local                           object
surface_reelle_bati                 float64
nombre_pieces_principales           float64
surface_terrain                     float64
longitude                           float64
latitude                            float64
dtype: object

In [6]:
t = test.groupby(pd.Grouper(key='date_mutation', freq='M'))['valeur_fonciere'].mean()
t

/var/folders/ml/zd6cs33j1gs1prd5lpns9pnc0000gn/T/ipykernel_6060/1094142026.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  t = test.groupby(pd.Grouper(key='date_mutation', freq='M'))['valeur_fonciere'].mean()

date_mutation
2019-07-31    184833.940764
2019-08-31    173916.569675
2019-09-30    200423.625000
Freq: ME, Name: valeur_fonciere, dtype: float64

In [7]:
t.to_csv('database/test.csv')

In [ ]:
locations = pd.read_csv('database/train.csv')
locations.head( )

In [ ]:
locations = locations.iloc[0:100000, :]
locations= locations[['latitude', 'longitude', 'valeur_fonciere', 'code_departement']]

In [ ]:
locations

In [ ]:
locations.to_csv('database/locations.csv', index=False)

In [ ]:
df = pd.read_csv('database/train.csv')

In [ ]:
geo = df.groupby(['code_departement'])['valeur_fonciere'].mean()
geo.head()

In [ ]:
geo.shape

In [ ]:
geo.to_csv('database/geo.csv')

In [ ]:
import requests


geofrance = requests.get('https://france-geojson.gregoiredavid.fr/repo/departements.geojson').json()
geofrance

In [ ]:
import json
with open('database/geofrance.geojson', 'w') as f:
    json.dump(geofrance, f)

In [ ]:
import geopandas as gpd

gdf = gpd.GeoDataFrame(geofrance)
gdf.head()

In [ ]:
gdf.columns

In [ ]:
import geopandas as gpd
ge = gpd.read_file('database/geofrance.geojson')

In [ ]:
ge['code'].unique()

In [ ]:
ge

In [ ]:
import pandas as pd
geo = pd.read_csv('database/geo.csv')
geo.head()

In [ ]:
geo.rename(columns={'code_departement': 'code'}, inplace=True)

In [ ]:
departments = gpd.merge(ge, geo, on='code')
departments.head()

In [ ]:
departments

In [ ]:
departments.to_json('database/departments.geojson')

In [5]:
import geopandas as gpd


gdf = gpd.read_file('geofrance.json')

In [6]:
gdf

,code,nom,geometry
0,02,Aisne,"POLYGON ((3.1727 50.012, 3.1822 50.01234, 3.21..."
1,10,Aube,"POLYGON ((3.41479 48.39027, 3.42208 48.41334, ..."
2,14,Calvados,"POLYGON ((-1.11962 49.35557, -1.11503 49.3624,..."
3,15,Cantal,"POLYGON ((2.50841 45.4785, 2.52444 45.4807, 2...."
4,28,Eure-et-Loir,"POLYGON ((0.81482 48.67016, 0.82767 48.68072, ..."
...,...,...,...
91,41,Loir-et-Cher,"POLYGON ((0.84122 48.10306, 0.87588 48.10943, ..."
92,53,Mayenne,"POLYGON ((-0.86036 48.50146, -0.84611 48.49828..."
93,54,Meurthe-et-Moselle,"MULTIPOLYGON (((5.45556 49.48093, 5.44953 49.4..."
94,79,Deux-Sèvres,"POLYGON ((-0.89196 46.97582, -0.87973 46.9758,..."
95,90,Territoire de Belfort,"POLYGON ((6.82353 47.81305, 6.83931 47.82478, ..."

In [7]:
gdf['code'] = gdf['code'].astype(int)

ValueError: invalid literal for int() with base 10: '2A'

In [8]:
mb = pd.read_csv('database/mapbox.csv')
mb.dtypes

date_mutation                 object
numero_disposition             int64
valeur_fonciere              float64
adresse_numero               float64
adresse_nom_voie              object
adresse_code_voie             object
code_postal                  float64
code_commune                   int64
nom_commune                   object
code_departement               int64
nombre_lots                    int64
type_local                    object
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
longitude                    float64
latitude                     float64
dtype: object

In [9]:
mb['code_departement'] = mb['code_departement'].astype(str)

In [10]:
mb.dtypes

date_mutation                 object
numero_disposition             int64
valeur_fonciere              float64
adresse_numero               float64
adresse_nom_voie              object
adresse_code_voie             object
code_postal                  float64
code_commune                   int64
nom_commune                   object
code_departement              object
nombre_lots                    int64
type_local                    object
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
longitude                    float64
latitude                     float64
dtype: object

In [11]:
mb.to_csv('mapbox.csv', index=False)

In [12]:
import geopandas as gpd
import json

gdf = gpd.read_file("geofrance.json", encoding='utf-8')

file_CRS= gdf.crs
print(file_CRS)
#if the CRS is not epsg:4326, or its equivalent name WGS84
 #then change it as follows:

gdf.to_crs(epsg=4326)
#convert gdf  to geojson:
gdf.to_file('geojsfile.json', driver = 'GeoJSON')

EPSG:4326

In [20]:
france_dep = pd.read_csv("departments_regions_france_2016.csv")
hbar = pd.read_csv('hbar.csv')

In [21]:
france_dep.head()

,code_departement,departmentName,regionCode,regionName
0,1,Ain,84.0,Auvergne-Rhône-Alpes
1,2,Aisne,32.0,Hauts-de-France
2,3,Allier,84.0,Auvergne-Rhône-Alpes
3,4,Alpes-de-Haute-Provence,93.0,Provence-Alpes-Côte d'Azur
4,5,Hautes-Alpes,93.0,Provence-Alpes-Côte d'Azur

In [22]:
hbar.tail()

   code_departement  valeur_fonciere
95               36    149717.523559
96                8    145211.358193
97               70    143611.323649
98               15    136471.095913
99               58    131940.678914

In [23]:
h_bar = pd.merge(france_dep, hbar, on='code_departement')
h_bar.head()

,code_departement,departmentName,regionCode,regionName,valeur_fonciere
0,1,Ain,84.0,Auvergne-Rhône-Alpes,416724.981918
1,2,Aisne,32.0,Hauts-de-France,163481.045697
2,3,Allier,84.0,Auvergne-Rhône-Alpes,533863.079981
3,4,Alpes-de-Haute-Provence,93.0,Provence-Alpes-Côte d'Azur,215008.073638
4,5,Hautes-Alpes,93.0,Provence-Alpes-Côte d'Azur,299168.738494

In [24]:
h_bar.shape

(100, 5)

In [25]:
h_bar  = h_bar[['departmentName', 'valeur_fonciere']]
h_bar.head()

            departmentName  valeur_fonciere
0                      Ain    416724.981918
1                    Aisne    163481.045697
2                   Allier    533863.079981
3  Alpes-de-Haute-Provence    215008.073638
4             Hautes-Alpes    299168.738494

In [29]:
h_bar.sort_values(by='valeur_fonciere', ascending=True, inplace=True)
h_bar.head()

   departmentName  valeur_fonciere
60         Nièvre    131940.678914
14         Cantal    136471.095913
70    Haute-Saône    143611.323649
7        Ardennes    145211.358193
39          Indre    149717.523559

In [30]:
h_bar.to_csv('hbar.csv', index=False)